<div class="row m-4">
    <div class="col-xs-12 col-lg-12">
        <div class="card-deck">
            <div class="card bg-light card-border-confirmed">
                <div class="card-body text-center">
                    <p class="card-text">Total Confirmed Cases: <span
                            class="font-weight-bold">{{this.TotalCases}}</span></p>
                </div>
            </div>
            <div class="card bg-light card-border-active">
                <div class="card-body text-center">
                    <p class="card-text">Total Active Cases:
                        <span class="font-weight-bold">{{this.ActiveCases}}</span>
                    </p>
                </div>
            </div>
            <div class="card bg-light card-border-recovered">
                <div class="card-body text-center">
                    <p class="card-text">Total Recovered Cases:
                        <span class="font-weight-bold">{{this.Recovered}}</span>
                    </p>
                </div>
            </div>
            <div class="card bg-light card-border-deceased">
                <div class="card-body text-center">
                    <p class="card-text">Total Deceased Cases:
                        <span class="font-weight-bold">{{this.Deceased}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>